##############################################################
# Gradle
##############################################################
# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build

##############################################################
# IDE settings
##############################################################
# NetBeans
nbproject
# Eclipse et.al
*.eclipse*
.project
.classpath
.vscode
# IntelliJ IDEA


##############################################################
# Backup files
##############################################################
**/*~
**/*.bak

##############################################################
# Spring Boot private settings
##############################################################
config
**/application.properties
